<div class="pizza-search">
    <mat-card-title class="mat-card-title">
        Find your pizzas
    </mat-card-title>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="Favorite pizza" value="">
    </mat-form-field>
</div>

<div class="container">
    <div class="row pizza-list" infinite-scroll (scrolled)="onScroll()">
        <div *ngFor="let pizza of pizzaList" class="pizza-item col-md-3">

            <mat-card class="pizza-card-container" style="text-align: center;">
                <mat-card-title>{{pizza.name}} pizza</mat-card-title>

                <img mat-card-image src="/assets/img/pizzas/pizza_margarita.png" alt="Photo of pizza">
                <mat-card-content>
                    <p class="pizza-description">
                        {{pizza.description}}
                    </p>
                    <p class="pizza-price">
                        Price: <b>€{{pizza.price}}</b>
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click)="onAdd(pizza)" [disabled]="isInCollection(pizza)">Add</button>
                    <button mat-button>Like</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>