.sidenav-container {
    height: 100%;
}

.page-title {
    cursor: pointer;
}

.nav-container {
    height: 100%;
}

.sidenav {
    min-width: 200pt;
}

.active-link, .active-link:hover, .active-link:active, .active-link:focus {
    background-color: #3f51b556;
}

.cart {
    cursor: pointer;
}

.spacer {
    flex: 1 1 auto;
  }